{% extends 'base.html' %}
{% block content %}

<div class="row mb-3">
{% if query %}
  <div class="col-12 mb-3">
      Results for <b>{{ query }}</b>
      <hr/>
  </div>
  {% else %}
  <div class="col-12 col-md-6 mx-auto py-5">
    {% include "search/snippets/search-form.html" %}
  </div>
  <div class="col-12">
    <hr>
  </div>
  {% endif %}
</div>


<div class="row">
{% for obj in object_list %}
    <div class="col">
      {# {{ forloop.counter }} #}
    {% include 'products/snippets/card.html' with instance=obj %}
    {# <a href="{{ obj.get_absolute_url }}">{{  obj.title }}</a> <br/> #}
    {% if forloop.counter|divisibleby:3 %}
  </div></div><br><div class="row"><div class="col-12"></div>
    {% else %}
      </div>
    {% endif %}
{% endfor %}
  </div>
  <br>
{% endblock %}
