{% extends "base.html" %}
<html>
    <head>
        <title>
            Contact Page
        </title>
{% block cssJs %}
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

{% endblock %}
    </head>
    <body>
      {% block content %}
        <h2 class="text-center">{{ val }}</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-6" col-12>
                    <form method="POST">{% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
      {% endblock %}
    </body>
</html>
