{% load static %}
<html>
  <head>
    <title>eCommerce</title>
    <style>
    #shadow {
    box-shadow: 0px 1px 7px #888888;
    }
    </style>
  </head>
  {% include 'base/bootstrap4.html' %}
  {% include 'base/css4.html' %}
  <!-- {% include 'base/js4.html' %} -->
  {% block cssJs %}{% endblock %}
  <body>
    {% include 'base/navbar.html' with brand_name='eCommerce' %}
    <div class="container">
    {% block content %}{% endblock %}
  </div>
  </body>
</html>
