{% extends "base.html" %}
{% load static %}
<html>
    <head>
        <title>
            Home Page
        </title>
{% block cssJs %}
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
{% endblock %}
    </head>
    <body>
      {% block content %}
        <h2 class="text-center">Welcome this is the home page of eCom</h2>

        {% comment %} Showing data only for authenticated users {% endcomment %}
        <br><br>

            <div class="row">
                <div class="col">
                    <img src="{% static 'img/beach.jpg' %}" class="img-fluid" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                {% if request.user.is_authenticated %}<br><br>
                    <h4 class="text">This user is authenticated</h4>
                    {% endif %}
                </div>
            </div>
        
      {% endblock %}
    </body>
</html>
