{% extends 'base.html' %}
{% block content %}

  <div class="row">
{% for obj in object_list %}
    <div class="col">
      {# {{ forloop.counter }} #}
    {% include 'products/snippets/card.html' with instance=obj %}
    {# <a href="{{ obj.get_absolute_url }}">{{  obj.title }}</a> <br/> #}
    {% if forloop.counter|divisibleby:3 %}
  </div></div><br><div class="row"><div class="col-12"></div>
    {% else %}
      </div>
    {% endif %}
{% endfor %}
  </div>

<br>
{% endblock %}
