{% extends 'base.html' %}
<html>
    <head>
        <title>
            Register
        </title>
     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
      {% block content %}
        <h2 class="text-center">{{ val }}</h2>

            <div class="row">
                <div class="col-sm-6" col-12>
                    <form method="POST">{% csrf_token %}
                        {% comment %} <label class="text">Username</label> {% endcomment %}
                        {{ Form }}<br>
                        {% comment %} <label class="text">Email</label> {% endcomment %}
                        {% comment %} {{ Form.email }}<br> {% endcomment %}
                        {% comment %} <label class="text">Password</label> {% endcomment %}
                        {% comment %} {{ Form.password }}<br> {% endcomment %}
                        {% comment %} <label class="text">Confirm Password</label> {% endcomment %}
                        {% comment %} {{ Form.confirm }}<br> {% endcomment %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        
      {% endblock %}
    </body>
</html>
