<div class="card" style="width: 20rem;height: 33rem;box-shadow: 0px 1px 7px #888888;">
  {% if instance.image %}
    <img class="card-img-top" src="{{ instance.image.url }}" alt="Card image cap">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ instance.title }}</h5>
    <p class="card-text">{{ instance.description | linebreaks | truncatewords:5 }}</p>
    <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">View</a>
    {# <a href="{% url 'products:detail' slug=instance.slug %}" class="btn btn-warning">Url Shortcut</a> #}
  </div>
</div>
