{% extends "base.html" %}
<html>
<body>
  {% block content %}
  <h1>Cart</h1>
  {% if cart.products.exists %}
  <table class="table">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Product Name</th>
    <th scope="col">Product Price</th>
  </tr>
</thead>
<tbody>
  {% for product in cart.products.all %}
  <tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td><a href="{{ product.get_absolute_url }}">{{ product.title }}</a>

{% include 'products/snippets/update-cart.html' with product=product cart=cart in_cart=True %}
    </td>
    <td>{{ product.price }}</td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan="2"></td>
    <td><b>Subtotal</b> {{ cart.subtotal }}</td>
  </tr>
  <tr>
    <td colspan="2 "></td>
    <td><b>Total</b> {{ cart.total }}</td>
  </tr>
</tbody>
</table>
  {% else %}
  <p class="lean">Cart is empty</p>
  {% endif %}

  {% endblock %}
</body>
</html>
